@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,700&display=swap');
/*css variables*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body{
	font-family: 'Roboto Mono', monospace;
}

:root{
	/*css creating a variable*/
	--light:#ffffff;
	--dark:#000000; 
	--pink:#f25b50;
	--gray:;
	--yellow:;
	--OneColor:;
	--blue:#908aed;
	--brown:#e8d43a;
}

/*beginnning of nav*/
/*.nav_logo{
	width:10rem;
	height:10rem;
}

.nav{
	background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),var(--brown);
}
.nav_header{
	display:flex;
	justify-content:space-between;
	padding:0.25rem 1rem;
	border-bottom: 0.5rem solid #000;
	
}
.nav_links{
	list-style-type: none;
	background:linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)),var(--brown);
}
.nav_single_link{
	display:block;
	text-decoration: none;
	font-size: 1.5rem;
	padding:0.5rem 1rem;
	text-transform: capitalize;
	font-style: italic;
	color: #fff;
	transition: all 1s linear; 
}
.nav_single_link:hover{
	background: #000;
	padding-left: 1.5rem;
	cursor: pointer; 

}*/
/*end of nav*/
header{
	min-height:100vh;
	/*using gradient to make the image light*/
	background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)) , url(./images/banner4-min.jpg) center/cover fixed no-repeat;
	display: flex;
	flex-direction: column;
	/*elements inside header nav and section*/


}
/*beginning of banner*/
.banner{
	/*as child*/
	flex:1 0 auto;
	/*as a parent*/
	display:flex;
	justify-content: center;
	align-items: flex-end;
	color:var(--light);
	text-align:center;
	padding-bottom: 4rem;
	font-weight:700;
}
.grad{

rgba(252,234,187,1)), color-stop(50%, rgba(252,205,77,1)), color-stop(51%, rgba(248,181,0,1)), color-stop(100%, rgba(251,223,147,1)));
background: -webkit-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -o-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: -ms-linear-gradient(left, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
background: linear-gradient(to right, rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.banner_title{
	font-size:4rem;
	letter-spacing: 0.15rem;
	text-transform:capitalize;
	margin-bottom: 0.5rem;
	font-style:italic;
}
.banner_jobs{
	letter-spacing: 0.15rem;
	text-transform: capitalize;
	font-size: 1.5rem;
	color: var(--light);
}
/*end of banner*/
/*about section*/
/*.about_main{
	height:100vh;
}*/
.about{
	padding:2rem 0;
	background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), var(--brown);

}

.about_center{
	max-width:90vw;
	margin:2rem auto;

}
/*fix the photo*/
.about_img{
	margin:3rem 0;
	position: relative;
}
.about_img_pic{
	display:block;
	width:100%;
	height:100%;
	position: relative;
	margin:0 auto;
	

}
.about_img:before{
	content:"";
	background:linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)),gray;
	width:100%;
	height:100%;
	position:absolute;
	bottom:-1rem;
	left:-1rem;

}
.about_info{
	margin:3rem 0;


}

.about_info_title{

background: rgba(239,197,202,1),
background: -moz-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(239,197,202,1)), color-stop(50%, rgba(210,75,90,1)), color-stop(51%, rgba(186,39,55,1)), color-stop(100%, rgba(241,142,153,1)));
background: -webkit-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
background: -o-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
background: -ms-linear-gradient(left, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
background: linear-gradient(to right, rgba(239,197,202,1) 0%, rgba(210,75,90,1) 50%, rgba(186,39,55,1) 51%, rgba(241,142,153,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efc5ca', endColorstr='#f18e99', GradientType=1 );

-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size:3rem;
	text-transform: capitalize;
	letter-spacing: 0.5rem;

	}
.about_info_text{
background: rgba(76,76,76,1);
background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 1%, rgba(0,0,0,1) 19%, rgba(89,89,89,1) 32%, rgba(82,82,82,1) 33%, rgba(44,44,44,1) 38%, rgba(17,17,17,1) 41%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(102,102,102,1)), color-stop(1%, rgba(71,71,71,1)), color-stop(19%, rgba(0,0,0,1)), color-stop(32%, rgba(89,89,89,1)), color-stop(33%, rgba(82,82,82,1)), color-stop(38%, rgba(44,44,44,1)), color-stop(41%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 1%, rgba(0,0,0,1) 19%, rgba(89,89,89,1) 32%, rgba(82,82,82,1) 33%, rgba(44,44,44,1) 38%, rgba(17,17,17,1) 41%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 1%, rgba(0,0,0,1) 19%, rgba(89,89,89,1) 32%, rgba(82,82,82,1) 33%, rgba(44,44,44,1) 38%, rgba(17,17,17,1) 41%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 1%, rgba(0,0,0,1) 19%, rgba(89,89,89,1) 32%, rgba(82,82,82,1) 33%, rgba(44,44,44,1) 38%, rgba(17,17,17,1) 41%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(102,102,102,1) 0%, rgba(71,71,71,1) 1%, rgba(0,0,0,1) 19%, rgba(89,89,89,1) 32%, rgba(82,82,82,1) 33%, rgba(44,44,44,1) 38%, rgba(17,17,17,1) 41%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;


	line-height:1.5;
	font-size: 1.2rem;
	margin:3rem 0;
}
.about_info_text{
	position:relative;
}
.about_info_text::before{
	content:"";
	background:url('./images/banner.jpg') center/cover no-repeat;
	width:100%;
	height:100%;
	position:absolute;	
	opacity:0.5;

}


/*styling links*/
.about_info_single_link{
	display:inline-block;
	text-decoration: none;
	padding:0.5rem 1rem;
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
	text-transform: capitalize;
	border: 3px solid #000;
	transition: all 0.5s linear;
	margin-right:1rem;

}
.dark-btn{
	background: #000;
	color:var(--brown);
}
.dark-btn:hover{
	background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)),var(--brown);
}
.light-btn{
	color:#000;
}
.light-btn:hover{
	color:var(--brown);
	background:#000;
}
@media screen and (min-width:992px)
{
	.about_center{
		display:flex;
		justify-content: space-between;
	}

.about_img
{
	flex:0 0 calc(40% - 1rem);
}
.about_info{
	flex:0 0 calc(60% - 1rem);
}
.about_info{

	display:flex;
	align-items: flex-end;
}
}

/*end of about  section*/
/*section title*/
.section_title{
	text-align:center;

}
.section_title-name{
	font-size: 4rem;
	letter-spacing: 0.5rem;
	background:url('./images/services3.png') no-repeat  center;
	font-weight: 700;
	text-transform: capitalize;
}
/*end of section title*/
/*services section*/
.services{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#a7cfdf+0,23538a+100;Blue+3d+%238 */
background: rgb(167,207,223); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 ); /* IE6-9 */
padding:3rem 0;
}
.services_center{
	max-width:90vw;
	margin:2rem auto;
}
.service_single-service{
	margin:2rem auto;
	text-align:center;
	transition: all 0.5s ease-in;
	padding:2rem 0;

}
.service_single-service:hover{
	background:#e4ecf7;
	box-shadow: 0 1rem 20px rgba(43, 70, 107,0.9);

}
.services_single-service-icon{
	font-size:3rem;
}
.service_single-service-title
{
	text-transform: uppercase;
	font-weight: 700;
	margin-top: 1rem;
	margin-bottom: 1rem;
	letter-spacing: 0.2rem;
}
.services_single-service-text{
	width:80%;
	margin:0 auto;
	text-align:left;
	line-height:1.5;
	letter-spacing: 0.2rem;
}

@media screen and (min-width:768px )
{
	.services_center{
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.service_single-service{
		flex:0 0 calc(50% - 0.5rem);
	}
}
@media screen and (min-width:992px )
{
	.services_center{
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.service_single-service{
		flex:0 0 calc(33.33% - 0.25rem);
	}
} 



/*end of services section*/
/*content section*/
.contents{
	padding:3rem 0;
	background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./images/content2-min.jpg) center/cover fixed no-repeat;
	color:#fff;
}
.section_title-name-content{
	font-size: 4rem;
	letter-spacing: 0.5rem;
	background:url('./images/services3-min.png') center/cover  no-repeat ;
	font-weight: 700;
	text-transform: capitalize;
background: rgb(242,246,248); 
background: -moz-linear-gradient(left,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 */


	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}
.contents_center{
	max-width: 95vw;
	margin:2rem auto;

}
.contents_single-number{
	text-align: center;
	margin:2rem 0rem;
}
.contents-single-number-icon{
	font-size:3rem;
}
.contents_single-number-text{
	font-size: 2rem;
	letter-spacing: 0.5rem;
	margin:0.5rem 0;

}
.contents_single-number-text-title{
	text-transform: uppercase;
	letter-spacing: 0.25rem;
}
@media screen and (min-width:576px)
{
	.contents_center{
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.contents_single-number{
		flex:0 0 calc(50% - 0.5rem);
	}

}
@media screen and (min-width:992px)
{
	.contents_single-number{
		flex:0 0 calc(25% - 0.5rem);
	}

}
/*end of content section*/
/*projectt*/
.projects{
	padding:3rem 0;
	background:#fff;


}
.projects_center{
	max-width: 90vw;
	margin:2rem auto;
}
.projects_single_project{
	margin:2rem auto;
	position:relative;
}
.project_single_project_img{
	display:block;
	width:100%;
	height:100%;
	border-radius: 0.25rem;
}
.projects_single_project::before{
	content:"";
	background:#000;
	width:100%;
	height:100%;
	position:absolute;	
	transform:scale(0);
	transition:all 1s ease;
	opacity:0;
}
.projects_single_project:hover::before{
	transform:scale(1);
	opacity:0.5;
}
.project_single_project_icon{
	color:#fff;
	position: absolute;
	top:50%;
	left:50%;
	font-size:6rem;
	transform: scale(1) translate(-50%,-50%);
	opacity:0;
	transition:all 1.3s ease;
}
.project_single_project_icon:hover{
	color:#686a6e;

}
.projects_single_project:hover  .project_single_project_icon{
	opacity:1;
	transform: scale(1) translate(-50%,-50%);
}
@media screen and (min-width:768px)
{
	.projects_center{
		display:flex;
		justify-content: space-between;
		flex-wrap:wrap;

	}
	.projects_single_project{
		flex:0 0 calc(50% - 0.5rem);
	}
}
@media screen and (min-width:992px)
{
	.projects_single_project{
		flex:0 0 calc(25% - 0.5rem);
	}
}

/*end of project*/
/*.contact{
	display:flex;
	flex-wrap: wrap;

	flex-direction: column;
	max-width:100vw;
}
.contact_title{
	font-size: 2rem;
	font-weight:700;
	text-transform: uppercase;
	text-align: :center;
	display:block;
	margin-left: auto;
	margin-right:auto;
	background: url(./images/services3.png) center/contain no-repeat;
}
.contact_container{
	background:url(./images/banner2.jpg) center/cover no-repeat fixed;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content:center;
	align-items: center;
	margin-top:2rem;

}
.contact_center{

	display:flex;
	flex-direction: column;

}
.textbox{
	margin:1rem;
	text-align:center;
	font-size:2rem;
	border-radius: 1rem;
}
.contact_submit{
margin:1rem auto;
font-size: 2rem;
}
@media and screen(max-width:768px)
{
	.contact{
		width:90vw;
	}
}*/
/*contact*/
.contact{
	background:#a9b0ab;
	padding:3rem 0;
}
.contact_center{
	max-width:80vw;
	margin:2rem auto;
}
.contact_header{
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin:2rem 0;
}
.contact_name,.contact_email,.contact_textarea
{
	background:transparent;
	border:none;
	border-bottom: 3px solid #000;
	padding:0.25 0;
	margin:2rem 0;
	font-size:1.2rem;



}
.contact_name,.contact_email{
	flex:0 0 calc(50% - 1rem);
}
.contact_textarea{
	width:100%;

}
.contact_btn{
	background:#000;
	color:#fff;
	display:block;
	margin:0 auto;
	padding:0.5rem 1rem;
	margin-top:2rem;
	font--size:1.5rem;
	text-transform:uppercase;
	letter-spacing: 0.5rem;
	transition:all 0.5s linear;
}
.contact_btn:hover{
	background:#fff;
	color:#000;
	border-color:#000;
}
.contact_icon{
	margin-right:0.5rem;
}
/*contact ends*/
/*footer starts*/
.footer{
	background:#000;
	padding:3rem 0;

}
.footer_icons{
	display:flex;
	justify-content:space-around;

}
.footer_icons_single{
	font-size:4rem;
	color:#fff;
	transition: all 1s ease ;
}
.f:hover{
	color:#3c62e8;

}
.g:hover{
	color:#f01f18;
}
.t:hover{
	color:#ecf22c;
}
.l:hover{
	color:#878773;
}
.nav{
	background:#fff;
}
.nav_header{
	display:flex;
	justify-content:space-between;
	padding:0.25rem 1rem;
	border-bottom: 0.5rem solid #000;
}
.nav_btn{
	font-size:3rem;
	align-self: center;
	color:#115e16;
}
.nav_links{
	list-style-type: none;
	background:#7371d1;
	height:0;
	overflow:hidden;
	/*display:none;*/
	transition: all 1s linear;
}
.show_links{
	height:283px;
}


.nav_single_link{
	display:block;
	text-decoration: none;
	font-size: 1.5rem;
	padding:0.5rem 1rem;
	font-style:italic;
	text-transform: capitalize;
	color:#dded2f;
	transition:all 1s linear;


}
.nav_single_link:hover{
	background:#fff;
	color:#000;
	padding-left: 1.5rem;
	cursor: pointer;
}
.nav_logo{
	height:100px;
	width:100px;
}

@media screen and (min-width:768px)
{
	.nav{
		display:flex;
		flex-wrap:wrap;
		border-bottom:0.5rem solid #000;
	}
	.nav_header{
		border:none;

	}
	.nav_btn{
		display:none;
	}
	.nav_links{
		/*as child*/
		background:transparent;
		height:auto;
		flex:1 0 auto;
		/*as a parent*/
		display:flex;
		flex-wrap:wrap;
		justify-content: space-around;
		align-self:center;
	}
	.nav_single_link{
		background:transparent;
		flex:1 0 auto;

	}
	.nav_single_link:hover{
		padding-left:1rem;
	}
	/*ul{
		display: flex;
	}*/
	
}

@media screen and (max-width:420px)
{
	body{
		width:420px;
	}
}





















